<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-------------Bootstrap CSS------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-------------jQuery-------------------->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.flipster/1.1.5/jquery.flipster.min.js"></script>
    <!-------------Bootstrap js-------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!--------------Icons-------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/details_form.css">

</head>


<body>
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="container">
                <div>
                    <div style="display: flex; align-items: center; justify-content: center;">
    
                        <h3>ADD PACKAGES TO EXISTING LIST</h3>
                    </div>
                </div>
                <div class="row rows orow black-white">
                    <div class="col-sm-12">
                        <h4>PER DAY PRICE ESTIMATE</h4>
                    </div>
                </div>
                <div class="row rows prow reddish" style="text-align: center;">
                    <div class="col-sm-5 pcolumns">
                        <h6>TYPE OF PACKAGE</h6>
                    </div>
                    <div class="col-sm-7 pcolumns">
                        <h6>PRICE (INR)</h6>
                    </div>

                </div>
                <div class="row rows rrow form-control" style="background: #adadadb4; border-radius: 0; width: 102%;">
                    <%if(photographer.packages !='' ){%>
                        <%photographer.packages.forEach(package=>{%>
                            <div class="col-sm-5 col-md-5"><input type="text" name="package_name"
                                    class="form-control" title="Type/Name" size="65px"
                                    value="<%=package.package_name%>">
                            </div>
                            <div class="col-sm-7 row">
                                <input type="text" name="package_price" value="<%=package.package_price%>"
                                    class="form-control" title="Type_price" size="25px">
                            </div>
                            <%})%>
                                <%}%>
                </div>
                <div class="row rows rrow">
                    <div class="add-more">
                        <div class="add-more-division" style="width: 102%;">
                            <div class="row rows rrow form-control" style="background: #adadadb4; border-radius: 0;">

                                <div class="col-sm-5"><input type="text" name="package_name" class="form-control"
                                        title="Type/Name" size="65px" value="">
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" name="package_price" value="" class="form-control"
                                        title="Type_price" size="25px">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rows" style="text-align: center;">
                    <div class="col-12">

                        <button type="button" class="button add-button" id="add-more-button">Add Package +</button>
                    </div>
                </div>

                <div class="row rows urow">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-4"> <button class="button" id="submit" type="submit">Submit</button></div>
                </div>

            </div>
        </form>
    </div>
    <script>
 
    let addMoreButton = document.querySelector("#add-more-button");
    let addMore = document.querySelector('.add-more');
    let addMoreDivision = document.querySelectorAll('.add-more-division')[0];

    addMoreButton.addEventListener('click', function () {
        let newItem = addMoreDivision.cloneNode(true);
        let input = newItem.getElementsByTagName('input')[0];
        input.value = '';
        addMore.appendChild(newItem);
    });
    </script>
</body>

</html>