<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Stories</title>
    <link rel="icon" type="image-icon" href="images/logo.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">

    <!-------------Bootstrap CSS------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/jquery.flipster.min.css">

    <!-------------jQuery-------------------->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-------------Bootstrap js-------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>

    <!--------------Icons-------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
  
</head>
<body>
    <header class="adminhead">
        <p style="text-align: left;">Admin Dashboard</p>        <a href="/" style="color:white"><i class="fa fa-home" aria-hidden="true"></i></a>

    </header>
    <div id="accordion">

        <div class="card">
          <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#packages">
             Add New Package
            </a>
          </div>
          <div id="packages" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#venue">
              Add New Venue
            </a>
          </div>
          <div id="venue" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#caterer">
              Add New Caterer
            </a>
          </div>
          <div id="caterer" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header">
              <a class="btn" data-bs-toggle="collapse" href="#entertainment">
                Add New Entertainment Provider 
              </a>
            </div>
            <div id="entertainment" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                Lorem ipsum..
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="btn" data-bs-toggle="collapse" href="#photographer">
                Add New Photographer
              </a>
            </div>
            <div id="photographer" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                Lorem ipsum..
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="btn" data-bs-toggle="collapse" href="#decorator">
                Add New Decorator
              </a>
            </div>
            <div id="decorator" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                Lorem ipsum..
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="btn" data-bs-toggle="collapse" href="#invitation">
                Add New Invitation Card Provider
              </a>
            </div>
            <div id="invitation" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                Lorem ipsum..
              </div>
            </div>
          </div>
      
      </div>
</body>
</html>