<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Stories</title>
    <link rel="icon" type="image-icon" href="images/logo.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">

    <!-------------Bootstrap CSS------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-------------jQuery-------------------->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-------------Bootstrap js-------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!--------------Icons-------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>
<!-- ----------------------------------Header---------------------------------- -->
<header class="header">

    <div class="fa fa-bars" id="menu-btn" onclick="navBarToggle()"></div>

    <a href="#" class="navbar-logo"><img src="images/logo.png" alt="" width="100%" height="100%"></a>

    <nav class="navbar navigation-bar">
        <a href="#home">Home</a>
        <a href="#about">About Us</a>
        <a href="#services">Services</a>
        <a href="#gallery">Gallery</a>
        <a href="#packages">Packages</a>
        <a href="#ratings">Ratings</a>
        <a href="#reviews">Reviews</a>
        <a href="#contact">Contact Us</a>
    </nav>

    <div class="user-btn dropdown" id="user-btn">
        <button class="button login-btn" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Login</button>
        <i class="fa fa-user user-icon" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"></i>

        <div class="dropdown-menu dropdown_menu text-center" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/signup" id="signup"><i class="fa fa-sign-in"></i>Signup</a>

            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> My Profile</a>
            <a class="dropdown-item" href="#"><i class="fa fa-shopping-bag"></i> Events
                Booked</a>

            <a class="dropdown-item" href="#"><i class="fa fa-cog"></i> Settings</a>
            <a class="dropdown-item" href="#" style="border: none;"><i class="fa fa-sign-out"></i> Log out</a>
        </div>
    </div>
</header>
<!-- -------------------------------------------------------------------------- -->


<!-- ----------------------------------Home---------------------------------- -->
<div class="home-container" id="home">
    <img src="images/logo3-removebg-preview.png" id="logo" draggable="false">
    <div id="tag"></div>
</div>
<!-- -------------------------------------------------------------------------- -->


<!-- ----------------------------------About Us---------------------------------- -->
<!-- -------------------------------------------------------------------------- -->


<!-- ----------------------------------Services---------------------------------- -->
<section class="services" id="services">
    <div class="service-head"
        style="align-items: center; justify-content: center; display: flex; flex-direction: column;">
        <h1
            style="color: rgb(255, 255, 255); margin-bottom: 10px; text-shadow: 2px 2px 3px rgb(128, 128, 128); font-family: 'Kalam', cursive;">
            OUR SERVICES</h1>
        <span style="background: #ff0000; height: 2px; width: 80px; border: none;"></span>
    </div>
    <div class="container service-body">
        <div class="row box1">
            <div class="col-md-4 col-sm-2 column">
                <figure class="service-figure">
                    <img src="images/location.gif" alt="" class="services-img">
                    <figcaption class="service-figurecaption"><a href="/venues">
                            <h6>Venues</h6>
                        </a></figcaption>
                </figure>
                <div class="service-brief">
                    <a href="/venues">
                        <h5>Venues</h5>
                    </a>
                    <span style="background: #666666; height: 2px; width: 50px; margin: 5px; border: none;"></span>
                    <p>Perfect venues for your special and dreamy events.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-2 column">
                <figure class="service-figure">
                    <img src="images/food.gif" alt="" class="services-img">
                    <figcaption class="service-figurecaption"><a href="">
                            <h6>Food & Beverages</h6>
                        </a></figcaption>
                </figure>
                <div class="service-brief">
                    <a href="">
                        <h5>Food & Beverages</h5>
                    </a>
                    <span style="background: #666666; height: 2px; width: 50px; margin: 5px; border: none;"></span>
                    <p>Get the best restaurants and caterers where every flavor tells a story.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-2 column">
                <figure class="service-figure">
                    <img src="/images/photos.gif" alt="" class="services-img">
                    <figcaption class="service-figurecaption"><a href="/photographers">
                            <h6>Photoshoots</h6>
                        </a></figcaption>
                </figure>
                <div class="service-brief">
                    <a href="/photographers">
                        <h5>Photoshoots</h5>
                    </a>
                    <span style="background: #666666; height: 2px; width: 50px; margin: 5px; border: none;"></span>
                    <p>Skilled photographers for capturing moments and creating memories.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-2 column">
                <figure class="service-figure">
                    <img src="images/entertainment.gif" alt="" class="services-img">
                    <figcaption class="service-figurecaption"><a href="/entertainers">
                            <h6>Entertainment</h6>
                        </a></figcaption>
                </figure>
                <div class="service-brief">
                    <a href="/entertainers">
                        <h5>Entertainment</h5>
                    </a>
                    <span style="background: #666666; height: 2px; width: 50px; margin: 5px; border: none;"></span>
                    <p>Mesmerizing the event by games, shows, music, and dance.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-2 column">
                <figure class="service-figure">
                    <img src="images/decoration.gif" alt="" class="services-img">
                    <figcaption class="service-figurecaption"><a href="">
                            <h6>Decorations</h6>
                        </a></figcaption>
                </figure>
                <div class="service-brief">
                    <a href="">
                        <h5>Decorations</h5>
                    </a>
                    <span style="background: #666666; height: 2px; width: 50px; margin: 5px; border: none;"></span>
                    <p>Fulfilling decoraters to take your event decor dream to the next level.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-2 column">
                <figure class="service-figure">
                    <img src="images/card.gif" alt="" class="services-img">
                    <figcaption class="service-figurecaption"><a href="">
                            <h6>e-Invitaton Cards</h6>
                        </a></figcaption>
                </figure>
                <div class="service-brief">
                    <a href="">
                        <h5>e-Invitaton Cards</h5>
                    </a>
                    <span style="background: #666666; height: 2px; width: 50px; margin: 5px; border: none;"></span>
                    <p>Invite in style and unleash the magic in your dream story.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -------------------------------------------------------------------------- -->


<!-- ----------------------------------Gallery---------------------------------- -->
<!-- -------------------------------------------------------------------------- -->



<!-- ----------------------------------Packages---------------------------------- -->
<section id="package">
    <h2 id="package-heading">OUR PACKAGES</h2>
    <div id="package-main">    
      <div class="package-wrapper">  
    
  <i id="package-left" class="fa-solid fa-angle-left"></i>
        <ul class="package-carousel"> <% if(packages !='' ) { %>
         <% packages.forEach(function(packages, index){  %>
          <li class="package-card" id="package-party">
          <img src="/images/<%= packages.apImg%>" alt="" width="100%" height="120%">
            <div><h3><%- packages.pkgname %></h3>
                  <p>
                  <ul><% packages.bItemList.basicItem.forEach(function(basicItem, index){ %>
                      <li><%= basicItem %></li>
                     
                      <% }) %>
                  </ul><br>
                  <strong>Starting from &#8377 5000</strong></p>
                  <a href="/packages/<%= packages._id%>"><button class="package-btn">Details</button></a>
            </div>
               
          </li>
           <% }) %>
        <% } %>
        </ul>
        <i id="package-right" class="fa-solid fa-angle-right"></i>
       

    </div>
      
    </div>

  </section>
<!-- -------------------------------------------------------------------------- -->


<!-- ----------------------------------Ratings---------------------------------- -->
<section class="ratings" id="ratings">
    <div class="rating-head"
        style="position: relative; align-items: center; justify-content: center; display: flex; flex-direction: column; margin-bottom: 10px;">
        <h1
            style="color: rgb(79, 187, 219); margin-bottom: 10px; text-shadow: 2px 2px 3px rgb(80, 80, 80); font-family: 'Kalam', cursive;">
            RATINGS</h1>
        <span style="background: #ff0000; height: 2px; width: 80px; border: none;"></span>
    </div>
    <div class="container rating-body">

        <div class="row ratings-body-rows">
            <div class="col-lg-6 col-sm-12 ratings-body-column-1">
                <div class="rating-summary-header">
                    <h5>Reviews Summary</h5>
                    <span style="background: #ffe600; height: 2px; width: 50px; margin: 5px; border: none;"></span>
                </div>

                <div class="rating-summary-body">

                    <div class="progress-div">
                        <div class="progress-group">
                            <span>5</span>
                            <div class="progress progression">
                                <div class="progress-bar progress_bar" role="progressbar" style="width: 100%"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-group">
                            <span>4</span>
                            <div class="progress progression">
                                <div class="progress-bar progress_bar" role="progressbar" style="width: 75%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-group">
                            <span>3</span>
                            <div class="progress progression">
                                <div class="progress-bar progress_bar" role="progressbar" style="width: 50%"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-group">
                            <span>2</span>
                            <div class="progress progression">
                                <div class="progress-bar progress_bar" role="progressbar" style="width: 25%"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-group">
                            <span>1</span>
                            <div class="progress progression">
                                <div class="progress-bar progress_bar" role="progressbar" style="width: 3%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>


                    </div>
                    <div class="rating-avg" id="rating-avg">
                        <h4>4.2</h4>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-sm-12 ratings-body-column-2">
                <div class="rate-us-header">
                    <h5>Rate your experience</h5>
                    <span style="background: #ffe600; height: 2px; width: 50px; margin: 5px; border: none;"></span>
                </div>
                <div class="star-widget stars">
                    <input type="number" name="rating" hidden>
                    <i class='fa fa-star star' style="--i: 0;"></i>
                    <i class='fa fa-star star' style="--i: 1;"></i>
                    <i class='fa fa-star star' style="--i: 2;"></i>
                    <i class='fa fa-star star' style="--i: 3;"></i>
                    <i class='fa fa-star star' style="--i: 4;"></i>
                </div>
                <form action="#" name="form-1" class="form-1">
                    <header class="form-header"></header>
                    <div class="textarea">
                        <textarea name="describe" id="describe" cols="50"
                            placeholder="Describe your experience..."></textarea>
                    </div>
                    <div class="post-btn">
                        <input type="button" value="POST" id="post" placeholder="POST">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- -------------------------------------------------------------------------- -->


<!-- ----------------------------------Reviews---------------------------------- -->
<section id="review">
    <h2 class="review-heading">CUSTOMERS REVIEW</h2>
     <H3 class="review-title">What people says about us</H3>
     <div class="review-box-container">
        <div class="review-box">
            <i class="fas fa-quote-left"></i>
            <div class="review">
                <i class='fa fa-star star' style="--i: 0;"></i>
                <i class='fa fa-star star' style="--i: 1;"></i>
                <i class='fa fa-star star' style="--i: 2;"></i>
                <i class='fa fa-star star' style="--i: 3;"></i>
                <i class='fa fa-star star' style="--i: 4;"></i>
               </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam sunt voluptate dolore asperiores molestias! Tenetur aperiam ut quaerat perspiciatis nostrum esse totam quisquam aut, dolores repudiandae itaque quidem, fugiat assumenda?
               
            </p>
            <div class="review-user">
                <img src="images/IMG-20230909-WA0003.jpg" alt="">
                <div class="review-info">
                    <h3>XYZ ABC</h3>
                    <span>Date</span>
                </div>
            </div>
        </div>
        <div class="review-box">
            <i class="fas fa-quote-left"></i>
            <div class="review">
                <i class='fa fa-star star' style="--i: 0;"></i>
                <i class='fa fa-star star' style="--i: 1;"></i>
                <i class='fa fa-star star' style="--i: 2;"></i>
                <i class='fa fa-star star' style="--i: 3;"></i>
               </div>
            <p>Their commitment towards their customer and meeting objectives to ensure success was impressive.
                
            </p>
            <div class="review-user">
                <img src="images/IMG-20230909-WA0006.jpg" alt="">
                <div class="review-info">
                    <h3>XYZ ABC</h3>
                    <span>Date</span>
                </div>
            </div>
        </div>
        <div class="review-box">
            <i class="fas fa-quote-left"></i>
            <div class="review">
                <i class='fa fa-star star' style="--i: 0;"></i>
                <i class='fa fa-star star' style="--i: 1;"></i>
                <i class='fa fa-star star' style="--i: 2;"></i>
                <i class='fa fa-star star' style="--i: 3;"></i>
                <i class='fa fa-star-half star' style="--i: 4;"></i>
               </div>
            <p>I was mesmerized by the creativity, punctuality, and effort they put in.
                 
            </p>
            <div class="review-user">
                <img src="images/IMG-20230909-WA0004.jpg" alt="Profile">
                <div class="review-info">
                    <h3>XYZ ABC</h3>
                    <span>Date</span>
                </div>
            </div>
        </div>
        
     </div>
     <button class="review-link">
        <a href="/review"> <span>Show more reviews</span>  <i id="review-right" class="fa-solid fa-angle-right"></i></a>
     </button>
</section>
<!-- -------------------------------------------------------------------------- -->


<!-- ----------------------------------Footer---------------------------------- -->
<!-- -------------------------------------------------------------------------- -->

<script src="/js/script.js"></script>
</body>
</html>