<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System</title>
    <link rel="icon" type="image-icon" href="images/logo.ico">
    <!-------------Bootstrap CSS------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-------------jQuery-------------------->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-------------Bootstrap js-------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!--------------Icons-------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/css/Ems.css"> -->
    <style>
        body {
            background: url('/images/signupbg.jpg');
            background-size: cover;
            background-position: center;
        }

        .form {
            background-image: url('/images/signup_bg1.jpg');
            margin-top: 3%;
            width: 35%;
            padding: 25px;
            border-radius: 0px 50px 0px 50px;
            font-family: 'Poppins', sans-serif;
            transition: all 0.5s ease out;
            animation: anime 6s linear infinite;
            box-shadow: 0px 0px 50px rgb(0, 0, 0);
            border: 3px solid rgb(255, 150, 150);
        }

        @keyframes anime {
            100% {
                filter: hue-rotate(360deg);
            }
        }

        .form-content {
            height: 500px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: #ffffff57;
            border: none;
        }

        .form .field {
            position: relative;
            height: 40px;
            width: 100%;
            margin-top: 30px;
            border-radius: 6px;
            border-bottom: 1px solid white;
        }


        .form-title {
            font-size: 22px;
            color: #ffffff;
            text-align: center;
            font-weight: bold;
        }

        .form-close {
            transform: translateX(450%);
            position: relative;
        }

        .input-field input,
        .button-field button {
            background: transparent;
            border-radius: 5px;
            height: 100%;
            width: 100%;
            font-size: 16px;
            border: none;
            outline: none;
            padding: 0px 40px;
            color: rgb(255, 255, 255);
        }

        .input-field input:focus {
            background: #ffffff2c;
        }

        .input-field span {
            margin: 2px 0px 2px 0px;
        }

        .input-field i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
        }

        .input-field i.email,
        .input-field i.pw_lock,
        .input-field i.name {
            left: 5px;
            color: gray;
        }

        .input-field input:focus~i.email,
        .input-field input:focus~i.pw_lock,
        .input-field input:focus~i.name {
            color: rgba(255, 255, 255, 0.349);
        }

        .input-field i.pw_hide {
            right: 3%;
            color: gray;
            cursor: pointer;
            font-size: 18px;
        }

        .button-field {
            position: relative;
            height: 40px;
            width: 100%;
            margin-top: 30px;
            border-radius: 6px;
            border-bottom: none;
        }

        .button-field button {
            color: #000000;
            background-color: #ffffffe0;
            transition: all 0.3s ease;
            cursor: pointer;
            border-radius:  50px 0px 50px 0 ;
            padding: 5px;
            border: none;
        }

        .button-field button:hover {
            background-color: #ffffff;
        }

        .form-link {
            text-align: center;
            margin-top: 15px;
        }

        .form-link span,
        .form-link a {
            font-size: 17px;
            font-weight: 500;
            color: #fdfdfd;

        }

        .form a {
            color: #138efa;
            text-decoration: none;
        }

        .form-content a:hover {
            text-decoration: underline;
        }


        @media screen and (max-width: 400px) {
            .form {
                padding: 20px 10px;
            }

        }
    </style>
</head>

<body>
    <div class="container form">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-header">
                <h5 class="form-title">Sign Up</h5>

            </div>

            <div class="form-body" style="display: flex; flex-direction: column;">
                <div class="container">
                    <div class="row">
                        <% if(infoSubmitObj !='' ) { %>
                            <div class="col-12 alert alert-success" role="alert">
                                <%= infoSubmitObj %>
                            </div>
                            <% } %>

                                <% if(infoErrorsObj !='' ) { %>
                                    <div class="col-12 alert alert-danger" role="alert">
                                        <%= infoErrorsObj[0].message %>
                                    </div>
                                    <% } %>
                    </div>
                </div>
                <div class="field input-field">
                    <input type="text" id="name" placeholder="Name" name="name" class="form-input">
                    <i class="fa fa-user name"></i>
                </div>
                <div class="field input-field">
                    <input type="text" id="email" placeholder="Email" name="email" class="form-input">
                    <i class="fa fa-envelope email"></i>
                </div>

                <div class="field input-field">
                    <input type="password" id="password" name="password" placeholder="Create password"
                        class="form-password">
                    <i class="fa fa-lock pw_lock"></i>
                    <i class="fa fa-eye-slash pw_hide" onclick="showHide()"></i>
                </div>

                <div class="field input-field">
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" class="form-password">
                    <i class="fa fa-lock pw_lock"></i>
                    <i class="fa fa-eye-slash pw_hide" onclick="showHide()"></i>
                </div>

                <div class="button-field">

                    <button id="signup1" type="submit">Signup</button>
                </div>
                <div class="form-link">
                    <span>Already have an account? <a href="#" class="link login-link" id="login">Login</a></span>
                </div>
        </form>
    </div>
    <div class="form-footer" style="display: flex; flex-direction: column;">

    </div>
    <script src="/js/script.js" type="text/js"></script>
</body>

</html>