<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-------------Bootstrap CSS------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-------------jQuery-------------------->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.flipster/1.1.5/jquery.flipster.min.js"></script>
    <!-------------Bootstrap js-------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!--------------Icons-------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/details_form.css">

</head>

<body>
    <div class="container form-container">
        <form action="" method="post" enctype="multipart/form-data">
            <div>
                <div style="display: flex; align-items: center; justify-content: center;">
                    <img src="/images/logo3-removebg-preview.png" alt="" width="100px" height="100px"
                        style="margin-right:1rem ;">

                    <h3>VENUE REGISTRATION FORM</h3>
                </div>
                <p>"Where Moments Become Memories: Register Your Venue, Host Unforgettable Experiences!"</p>
            </div>
            <div class="container">
                <div class="row">

                    <% if(infoSubmitObj !='' ) { %>
                        <div class="col-sm-6 alert alert-success" style="text-align: center;">
                            <%= infoSubmitObj %>
                        </div>
                        <% } %>

                            <% if(infoErrorsObj !='' ) { %>
                                <div class="col-12 alert alert-danger" role="alert">
                                    <%= infoErrorsObj[0].message %>
                                </div>
                                <% } %>

                </div>

                <div class="row rows crow">
                    <div class="col">
                        <h6>Date: <%= new Date() %>  </h6>
                    </div>
                </div>

                <div class="row rows drow">
                    <div class="col-sm-3">
                        <h6>Name of Venue:</h6>
                    </div>
                    <div class="col-sm-9"><input type="text" class="form-control" name="name" id="name" placeholder=" "
                            title="name" required></div>
                </div>

                <div class="row rows erow ">
                    <div class="col-sm-3">
                        <h6>Address:</h6>
                    </div>
                    <div class="col-sm-9"><textarea class="form-control" name="address" id="address" placeholder=" "
                            title="address" required></textarea>
                    </div>
                </div>

                <div class="row rows erow ">
                    <div class="col-sm-3">
                        <h6>Location:</h6>
                    </div>
                    <div class="col-sm-9"><input class="form-control" type="text" name="location" id="location"
                            placeholder=" " title="Location" required>
                    </div>
                </div>

                <div class="row rows frow">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-4">Street</div>
                    <div class="col-sm-4">City</div>
                </div>

                <div class="row rows grow">
                    <div class="col-sm-3">
                        <label for="address-url">
                            <h6>Address Map URL</h6>
                        </label>
                    </div>
                    <div class="col-sm-9"><input type="text" name="address-url" id="address-url" class="form-control"
                            cols="83" rows="5">
                    </div>
                </div>

                <div class="row rows grow">
                    <div class="col-sm-3">
                        <h6>About:</h6>
                    </div>
                    <div class="col-sm-9"><textarea name="about" class="form-control" id="about" cols="83"
                            rows="5" required></textarea>
                    </div>
                </div>

                <div class="row rows hrow">
                    <div class="col-sm-3">
                        <h6>Contact:</h6>
                    </div>
                    <div class="col-sm-9"><input type="tel" class="form-control" name="contact" title="contact" required>
                    </div>
                </div>

                <div class="row rows hrow">
                    <div class="col-sm-3">
                        <h6>Email:</h6>
                    </div>
                    <div class="col-sm-9"><input type="email" class="form-control" name="email" title="email" required>
                    </div>
                </div>

                

                <div class="row rows lrow black-white">
                    <div class="col-12">

                        <h4>Events Hosted:</h4>
                    </div>

                </div>

                <div class="row rows">
                    <div class="add-more-services-list">
                        <div class="add-more-services-div" style="width: 102%;">
                            <div class="row rows" style="border-radius: 0; width: 100%; justify-content: center;">

                                <div class="col-6"><input type="text" name="services" class="form-control"
                                        title="Services" required>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row rows" style="text-align: center;">
                    <div class="col-12">

                        <button type="button" class="button add-button" id="add-more-services">Add more +</button>
                    </div>
                </div>


                <div class="row rows orow black-white">
                    <div class="col-sm-12">
                        <h4>FEATURES</h4>
                    </div>
                </div>

                <div class="row rows irow">
                    <div class="col-sm-3">
                        <h6>How long been on Dream Stories:</h6>
                    </div>
                    <div class="col-sm-9"><input type="text" class="form-control" name="since" title="since" required>
                    </div>
                </div>
                <div class="row rows irow">
                    <div class="col-sm-6 kcolumns" style="display: flex; justify-content: center; align-items: center;">
                        <h6>Venue Type:</h6>
                       <input type="text" name="venue_type" class="form-control"
                                title="Venue Type" id="venue_type" required>
                    </div>
                    <div class="col-sm-6 kcolumns"
                        style="border-right: none; display: flex; justify-content: center; align-items: center;">

                        <h6>Events Managed: </h6>

                        <input type="number" name="eventsManaged" class="form-control"
                                title="Events Managed" id="eventsManaged" size="40px" required>
                    </div>
                </div>


                <div class="row rows krow">
                    <div class="col-sm-6 kcolumns" style="display: flex; justify-content: center; align-items: center;">
                        <h6>Starting plate/hall price:</h6>
                        <input type="text" class="form-control" name="starting_price" title="Starting food/hall price:"
                            size="40px" required>
                    </div>
                    <div class="col-sm-6 kcolumns"
                        style="border-right: none; display: flex;  justify-content: center; align-items: center;">
                        <h6>Starting price for rooms</h6>
                        <input type="text" class="form-control" name="room_start_price" title="Room Start Price"
                            size="40px" required>
                    </div>
                </div>

                <div class="row rows krow">
                    <div class="col-sm-6 kcolumns" style="display: flex; justify-content: center; align-items: center;">
                        <h6>Small Party Venue:</h6>
                        <input type="text" class="form-control" name="small_party" title="Small Party Venue"
                            size="40px" required>
                    </div>
                    <div class="col-sm-6 kcolumns"
                        style="border-right: none; display: flex;  justify-content: center; align-items: center;">
                        <h6>Features:</h6>
                        <input type="text" class="form-control" name="features" title="Features" size="40px" required>
                    </div>
                </div>

                <div class="row rows krow">
                    <div class="col-sm-6 kcolumns" style="display: flex; justify-content: center; align-items: center;">
                        <h6>Maximum Guests Capacity:</h6>
                        <input type="text" class="form-control" name="guests" title="Maximum Guests" size="40px" required>
                    </div>
                    <div class="col-sm-6 kcolumns"
                        style="border-right: none; display: flex;  justify-content: center; align-items: center;">
                        <h6>Parking:</h6>
                        <input type="text" class="form-control" name="parking" title="Parking" size="40px" required>
                    </div>
                </div>

                <div class="row rows krow">
                    <div class="col-sm-6 kcolumns" style="display: flex; justify-content: center; align-items: center;">
                        <h6>Space:</h6>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="text" class="form-control"
                            name="space" title="Space" required>
                    </div>
                    <div class="col-sm-6 kcolumns"
                        style="border-right: none; display: flex;  justify-content: center; align-items: center;">
                        <h6>Room Count:</h6>
                        <input type="text" class="form-control" name="room_count" title="Room Count" size="40px" required>
                    </div>
                </div>

                <div class="row rows krow">
                    <div class="col-sm-6 kcolumns" style="display: flex; justify-content: center; align-items: center;">
                        <h6>Catering Policy:</h6>
                        <input type="text" class="form-control" name="catering" title="Catering Policy" size="40px">
                    </div>
                    <div class="col-sm-6 kcolumns"
                        style="border-right: none; display: flex;  justify-content: center; align-items: center;">
                        <h6>Decor Policy:</h6>
                        <input type="text" class="form-control" name="decor" title="Decor Policy" size="40px">
                    </div>
                </div>

                <div class="row rows krow">
                    <div class="col-sm-6 kcolumns" style="display: flex; justify-content: center; align-items: center;">
                        <h6>Outside Alcohol:</h6>
                        <input type="text" class="form-control" name="alcohol" title="Outside Alcohol" size="40px">
                    </div>
                    <div class="col-sm-6 kcolumns"
                        style="border-right: none; display: flex;  justify-content: center; align-items: center;">
                        <h6>DJ Policy:</h6>
                        <input type="text" class="form-control" name="dj" title="DJ Policy" size="40px">
                    </div>
                </div>

                <div class="row rows orow black-white">
                    <div class="col-sm-12">
                        <h4>PER PLATE ESTIMATE</h4>
                    </div>
                </div>

                <div class="row rows prow reddish">
                    <div class="col-sm-5 pcolumns">
                        <h6>TYPE (VEG/NON-VEG)</h6>
                    </div>
                    <div class="col-sm-7 pcolumns">
                        <h6>PRICE</h6>
                    </div>

                </div>

                <div class="row rows rrow">
                    <div class="add-more-food">
                        <div class="add-more-food-division">
                            <div class="row rows rrow">
                                <div class="col-sm-5"><input type="text" class="form-control" name="food_type"
                                        title="Food Type" size="65px"></div>
                                <div class="col-sm-7"><input value="" type="number" class="form-control" name="food_price"
                                        title="Food Price" size="65px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row rows" style="text-align: center;">
                    <div class="col-12">

                        <button type="button" class="button add-button" id="add-food-button">Add food</button>
                    </div>
                </div>

                <div class="row rows orow black-white">
                    <div class="col-sm-12">
                        <h4>PRICE FOR HALLS</h4>
                    </div>
                </div>

                <div class="row rows prow reddish">
                    <div class="col-sm-3 pcolumns">
                        <h6>TYPE/NAME (if any)</h6>
                    </div>
                    <div class="col-sm-2 pcolumns">
                        <h6>SPACE (indoor/outdoor/ <br> poolside/terrace)</h6>
                    </div>
                    <div class="col-sm-2 pcolumns">
                        <h6>SEATING</h6>
                    </div>
                    <div class="col-sm-2 pcolumns">
                        <h6>FLOATING</h6>
                    </div>
                    <div class="col-sm-3 pcolumns">
                        <h6>PRICE PER HOUR (INR)</h6>
                    </div>

                </div>

                <div class="row rows rrow">
                    <div class="add-more">
                        <div class="add-more-division" style="width: 102%;">
                            <div class="row rows rrow form-control" style="background: #adadadb4; border-radius: 0;">
                                <div class="col-sm-3"><input type="text" class="form-control" name="hall_name"
                                        title="Type/Name" size="65px">
                                </div>
                                <div class="col-sm-2"><input type="text" class="form-control" name="hall_space"
                                        title="Space" size="65px">
                                </div>
                                <div class="col-sm-2"><input type="number" class="form-control" name="hall_seating"
                                        title="Seating" size="65px">
                                </div>
                                <div class="col-sm-2"><input type="number" class="form-control" name="hall_floating"
                                        title="Floating" size="65px">
                                </div>
                                <div class="col-sm-3"><input type="number" class="form-control" name="hall_price"
                                        title="Price" size="65px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row rows" style="text-align: center;">
                    <div class="col-12">

                        <button type="button" class="button add-button" id="add-more-button">Add more +</button>
                    </div>
                </div>
                <div class="row rows orow black-white">
                    <div class="col-sm-12">
                        <h4>PRICE FOR ROOMS</h4>
                    </div>
                </div>

                <div class="row rows prow reddish">
                    <div class="col-md-6 col-sm-6 pcolumns">
                        <h6>ROOM TYPE/NAME</h6>
                    </div>
                    <div class="col-md-6 col-sm-6 pcolumns">
                        <h6>PRICE PER DAY (INR)</h6>
                    </div>
                </div>

                <div class="row rows rrow">
                    <div class="add-more-room-price">
                        <div class="add-more-room-division" style="width: 102%;">
                            <div class="row rows rrow form-control" style="background: #adadadb4; border-radius: 0;">
                                <div class="col-sm-6 col-md-6"><input type="text" class="form-control" name="room_name"
                                        title="Type/Name" size="65px">
                                </div>
                                <div class="col-sm-6 col-md-6"><input type="number" class="form-control" name="room_price"
                                        title="Price" size="65px">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row rows" style="text-align: center;">
                    <div class="col-12">

                        <button type="button" class="button add-button" id="add-more-room-button">Add more
                            +</button>
                    </div>
                </div>

                <div class="row rows orow black-white">
                    <div class="col-sm-12">
                        <h4>PRICES FOR DECORATION</h4>
                    </div>
                </div>
                <div class="row rows prow reddish" style="text-align: center;">
                    <div class="col-md-6 col-sm-6 pcolumns">
                        <h6>EVENT TYPE/NAME</h6>
                    </div>
                    <div class="col-md-6 col-sm-6 pcolumns">
                        <h6>PRICE (INR)</h6>
                    </div>
                </div>

                <div class="row rows rrow">
                    <div class="add-more-decor-price">
                        <div class="add-more-decor-division" style="width: 102%;">
                            <div class="row rows rrow form-control" style="background: #adadadb4; border-radius: 0;">
                                <div class="col-sm-6 col-md-6"><input type="text" class="form-control" name="event"
                                        title="Type/Name" size="65px">
                                </div>
                                <div class="col-sm-6 col-md-6"><input type="number" class="form-control"
                                        name="decor_price" title="Space" size="65px">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row rows" style="text-align: center;">
                    <div class="col-12">

                        <button type="button" class="button add-button" id="add-more-decor-button">Add more
                            +</button>
                    </div>
                </div>


                <div class="row rows orow black-white">
                    <div class="col-sm-12">
                        <h4>SOCIAL MEDIA HANDLES</h4>
                    </div>
                </div>

                <div class="row rows grow">
                    <div class="col-sm-3">
                        <label for="insta-url">
                            <h6>Instagram URL</h6>
                        </label>
                    </div>
                    <div class="col-sm-9"><input type="text" name="instaUrl" id="insta-url" class="form-control"
                            cols="83" rows="5">
                    </div>
                </div>

                <div class="row rows grow">
                    <div class="col-sm-3">
                        <label for="fb-url">
                            <h6>Facebook URL</h6>
                        </label>
                    </div>
                    <div class="col-sm-9"><input type="text" name="fbUrl" id="fb-url" class="form-control" cols="83"
                            rows="5">
                    </div>
                </div>


                <div class="row rows orow black-white">
                    <div class="col-sm-12">
                        <h4>PORTFOLIOS</h4>
                    </div>
                </div>

                <div class="row rows srow">
                    <div class="col-sm-5">
                        <h6>Product Image</h6>
                    </div>
                    <div class="col-sm-7">

                        <input type="file" name="image" id="image" class="form-control" accept="image/*" required>
                        <label for="image" id="drop-area">

                            <!--  <input type="file" name="profile-phot class="form-control"o" id="profile-photo"
                                accept="image/jpeg, image/jpg, image/png" hidden> <h6 id="profile-photo-filename"></h6> -->
                            <div class="img-view">
                                <img src="/images/508-icon.png" alt="">
                                <p>Drag and Drop or click here <br> to upload image</p>
                                <span>Upload any image from desktop</span>
                            </div>
                        </label>

                    </div>


                </div>

                <div class="row rows trow">
                    <div class="col-sm-5">
                        <h6>Photos</h6>
                    </div>
                    <div class="col-sm-7">
                        <label for="photos">
                            <input type="file" name="photos" id="photos" class="form-control"
                                accept="image/jpeg, image/jpg, image/png" multiple>
                        </label>
                        
                    </div>
                </div>

                <div class="row rows urow">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-4"> <button type="submit" class="button" id="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>



    </div>


    <script>
        

        const dropArea = document.querySelector("#drop-area"),
        imageView = document.querySelector(".img-view"),
        image = document.querySelector("#image");

    image.addEventListener("change", function (e) {
        let imgLink = URL.createObjectURL(image.files[0]);
        imageView.style.backgroundImage = `url(${imgLink})`;
        imageView.textContent = "";
        imageView.style.border = 0;
    })
    dropArea.addEventListener("dragover", function (e) {
        e.preventDefault();
    });
    dropArea.addEventListener("drop", function (e) {
        e.preventDefault();
        image.files = e.dataTransfer.files;

        image.addEventListener("change", function (e) {
            let imgLink = URL.createObjectURL(image.files[0]);
            imageView.style.backgroundImage = `url(${imgLink})`;
            imageView.textContent = "";
            imageView.style.border = 0;
        })
    });

    let addMoreServicesBtn = document.querySelector("#add-more-services");
    let addMoreServicesList = document.querySelector('.add-more-services-list');
    let addMoreServicesDiv = document.querySelectorAll('.add-more-services-div')[0];

    addMoreServicesBtn.addEventListener('click', function () {
        let newHalls = addMoreServicesDiv.cloneNode(true);
        let input = newHalls.getElementsByTagName('input')[0];
        input.value = '';
        addMoreServicesList.appendChild(newHalls);
    });

    
    //add more input field for halls/packages prices

    
    let addMoreButton = document.querySelector("#add-more-button");
    let addMore = document.querySelector('.add-more');
    let addMoreDivision = document.querySelectorAll('.add-more-division')[0];

    addMoreButton.addEventListener('click', function () {
        let newItem = addMoreDivision.cloneNode(true);
        let input = newItem.getElementsByTagName('input');
        for(let i=0; i< input.length; i++){
            input[i].value = '';}
        addMore.appendChild(newItem);
    });

      
    //add more input field for food prices

    
    let addMoreFoodButton = document.querySelector("#add-food-button");
    let addMoreFood = document.querySelector('.add-more-food');
    let addMoreFoodDivision = document.querySelectorAll('.add-more-food-division')[0];

    addMoreFoodButton.addEventListener('click', function () {
        let newItem = addMoreFoodDivision.cloneNode(true);
        let input = newItem.getElementsByTagName('input');
        for(let i=0; i< input.length; i++){
        input[i].value = '';}
        addMoreFood.appendChild(newItem);
    });


    //add more input field for event decor prices

    
    let addMoreDecorButton = document.querySelector("#add-more-decor-button");
    let addMoreDecor = document.querySelector('.add-more-decor-price');
    let addMoreDecorDivision = document.querySelectorAll('.add-more-decor-division')[0];

    addMoreDecorButton.addEventListener('click', function () {
        let newItem = addMoreDecorDivision.cloneNode(true);
        let input = newItem.getElementsByTagName('input');
        for(let i=0; i< input.length; i++){
            input[i].value = '';}
        addMoreDecor.appendChild(newItem);
    });

      
    //add more input field for room prices

    
    let addMoreRoomButton = document.querySelector("#add-more-room-button");
    let addMoreRoom = document.querySelector('.add-more-room-price');
    let addMoreRoomDivision = document.querySelectorAll('.add-more-room-division')[0];

    addMoreRoomButton.addEventListener('click', function () {
        let newItem = addMoreRoomDivision.cloneNode(true);
        let input = newItem.getElementsByTagName('input');
        for(let i=0; i< input.length; i++){
            input[i].value = '';}
        addMoreRoom.appendChild(newItem);
    });

    </script>
</body>

</html>