@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito&display=swap');

.decor-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding:100px 50px;
    background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
}

.decor-container .decor-card{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width:350px;
    height:300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0,0,0,0.15);
    transition: 1s;
}

.decor-container .decor-card:hover{
    height:400px;
}

.decor-container .decor-card .decor-img{
    position:absolute;
    top:20px;
    width:300px;
    height:220px;
    background: #333;
    border-radius: 12px;
    transition: 1s;
    overflow:hidden;
}

.decor-container .decor-card .decor-img img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.decor-container .decor-card:hover .decor-img{
    top:-100px;
    scale:0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.decor-container .decor-card .decor-content{
    position:absolute;
    top:250px;
    width:100%;
    padding:0 10px;
    height:40px;
    overflow:hidden;
    text-align: center;
    transition:1s;
    font-family: 'Nunito';
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.decor-container .decor-card:hover .decor-content{
    top:130px;
    height:250px;
    text-align: center;
}

.decor-container .decor-card:hover .decor-content h4{
    white-space: normal;
}

.btn{
    background-color: #ff0aca;
    color:white;
    transition: 0.2s ease;
}

.btn a:link{
    color:white;
}
.btn a:hover{
    color:white;
}

.btn:hover{
    background-color: #ff0aca;
    color:white;
    transform: scale(1.05);
}

.decor-breadcrumb{
    margin: 2%;
}

.noresults{
    text-align: center;
    margin:20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nunito';
}

.deet-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:95%;
    height:auto;
    background-image: linear-gradient( 103.3deg,  rgba(252,225,208,1) 30%, rgba(255,173,214,1) 55.7%, rgba(162,186,245,1) 81.8% );
    margin:auto;
}

.deet-container .deet-content{
    padding:15px;
    font-family: "Nunito";
}

.deet-container .container .nav-tabs a{
    font-size: 20px;
    color:black;
}

.deet-container .container .tab-content{
    font-size: 25px;
}

.deet-container .container .tab-content .homecont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
}

.deet-container .container .tab-content .homecont .imgcont{
    width:50%;
    height:50%;
    font-family: "Nunito";
    padding-top:3%;
    padding-left: 0;
    padding-right: 3%;
    padding-bottom: 3%;
}

.deet-container .container .tab-content #about p{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

.deet-container .container .tab-content .img-responsive {
    width:700px;
    height:200px;
    display: block;
    margin:3%;
    border-radius: 5px;
}

.deet-container .container .tab-content input[type="text"]{
    border: none;
    outline:none;
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
    width:70%;
    font-size: 18px;
    background: transparent;
}

.deet-container .container .tab-content input[type="date"]{
    border: none;
    outline:none;
    padding-bottom: 10px;
    width:auto;
    font-size: 18px;
    background: transparent;
}

.deet-container .container .tab-content input[type="time"]{
    border: none;
    outline:none;
    padding-bottom: 10px;
    width:auto;
    font-size: 18px;
    background: transparent;
}

.deet-container .container .tab-content #rate{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratecontainer #ratingForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding:30px;
    margin:20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.ratecontainer header{
    color: gray;
}

.ratecontainer .stars{
    margin:20px 0px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.stars i{
    color: #e6e6e6;
    cursor: pointer;
    font-size: 30px;
    transition: color 0.5 ease;
}

.stars i.active{
    color:#f9b41a ;
}


.searchcontainer #invitesearchform{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% ); */
}

#invitesearchform .searchbox{
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: transparent;
    padding:10px;
    font-size: 20px;
    font-family: 'Nunito';
    border: 0.5px solid black;
    width: 50%;
}

#invitesearchform .searchbox::placeholder{
    color: black;
}

#invitesearchform .searchbtn{
    background: transparent;
    border-radius: 50px;
    padding: 7px;
    border: 0.5px solid black;
    width:50px;
}

#invitesearchform .searchbtn i{
    font-size: 20px;
}



.form #filterinvites{
    padding: 25px;
    border-radius: 12px;
    background: black;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease out;
    box-shadow: 5px 5px 20px rgb(255, 255, 255);
}


.form-content #filterinvites{
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffffff;
    border: none;
}


.form-title #filterinvites{
    font-size: 30px;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.form-close{
    transform: translateX(1500%);
    position: relative;
}

.iform-close{
    transform: translateX(480%);
    position: relative;
}




#filterinvites .filter-rows{
    color: rgb(100, 100, 100);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

#filterinvites .filter-topics{
    font-size: 0.9rem;
    padding: 7px;
    border: 1px solid rgb(170, 170, 170);
}

#filterinvites .filter-result-btn{
    border: 1px solid black;
    border-radius: 5px;
   
    padding: 5px;
    transition: all 0.5s infinite;
}

#filterinvites .filter-result-btn:hover{
    background: linear-gradient(rgb(0, 0, 255), rgb(136, 136, 241));
    color: white;
}