body {
    margin: 0;
}

a {
    text-decoration: none;
}

li{
    list-style-type: none;
}


hr{
   color: black;
}

.button{
    border: none;
    background: #6B00F5;
    padding: 6px 20px 4px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s;
}


.button:hover {
    background: #5815AE;
  }
/*-----------------------------------------header----------------------------------------------*/

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 999;
    background: #000000cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8%;
}

.header .navbar-logo{
    width: 6%;
}


.header .navbar a{
    font-size: 100%;
    margin: 0 0.4rem;
    color: white;
    font-weight: bold;
    transition: all 0.5s ease;
    padding: 7px;
    border-radius: 3px;
    transition: all 0.5s ease;

}

.header .navbar a:hover{
    box-shadow: 0 0 10px black, 0 0 10px white inset;
}

.header .user-btn .user-icon{
font-size: 1.5rem;
color: rgb(255, 255, 255);
cursor: pointer;
margin-right: 1rem;
}

#menu-btn{
    font-size: 1.5rem;
    color: rgb(214, 214, 214);
    cursor: pointer;
    margin-left: 1rem;
  display: none;
}

.dropdown_menu{
    box-shadow: 1px 1px 20px black;
}

.dropdown_menu a{
    font-size: 1rem;
}
.dropdown_menu a i{
    margin-right: 0.5rem;
}


.dropdown_menu a:hover{
background: #b6b6b68f;
}




@media(max-width:991px){

    .header{
        font-size: 80%;
        padding: 0.5px;

    }
    .header .navbar-logo{
        width: 10%;
    }
}


@media(max-width:768px){
 
    #menu-btn{
    display: block;
    }

    .header .user-btn .user-icon{
        display: block;
        }

    .header .user-btn .login-btn{
        display: none;
    }

    .header .navigation-bar{
        display: none;
    }

    .header .navbar-active{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 99%;left: 0; right: 0;
        background: #1a1a1a;
        border-top: 1px solid rgb(167, 167, 167);
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    }

    .header .navbar a{
        display: block;
        padding: 1rem 3rem;
        margin: 0.1rem;
        font-size: 1rem;
        transition: all 0.5s ease;
        border-bottom: 1px solid rgba(141, 141, 141, 0.356);
    }

    .header .navbar a:hover{
        box-shadow: 1px 1px 5px white;
    }

}

/*------------------------------main block--------------------------------------------*/


.main-container{
    margin: 0 50px 0 50px;
    margin-top: 3%;
}

.brief-main {
    display: flex;
    flex-direction: column;
}

.frow1 {
    display: flex;
}

.photographer-brief{
    display: flex;
    flex-direction: column;
}
.profile-pic {
    width: 100%;
    height: 100%;
}

.photographer-details-inner {
    margin: 0 20px 0 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    background: #ffffff;
    padding: 1rem;
    border-bottom: 1px solid rgb(214, 214, 214);
    border-left: 1px solid rgb(168, 168, 168);
    border-right: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 1px 5px rgb(172, 172, 172);
    overflow: hidden;
}

.photographer-details {
    position: relative;
    margin-top: -10%;
    width: 100%;
    z-index: 0;

}

.title,
.location,
.links {
    display: flex;
}

.StarRating {
    margin-left: 10rem;
    background: #3ef737;
    color: white;
    padding: 0.5rem;
    width: 20%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.location {
    margin: 15px 20px 10px 5px;
}

.location-text {
    margin: 0 20px 0 5px;
    color: gray;
}

.location a {
    color: rgb(165, 164, 164);
}

.links {
    margin-top: 12px;
}

.links div {
    padding: 1rem;
}

.works {
    position: relative;
    margin-top: 5%;
    display: flex;
    box-shadow: 0px 1px 5px rgb(160, 160, 160);
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}


.works {
    position: relative;
    margin-top: 5%;
    display: flex;
    box-shadow: 0px 1px 5px rgb(160, 160, 160);
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

.works a{
    color: black;
}

#project{
    border-right: 1px solid rgb(172, 169, 169);
    padding: 10px;
}

#about{
    padding: 10px;
}

.portfolio-links{
    margin-top: 20px;
    box-shadow: 0px 1px 5px rgb(160, 160, 160);
}
.portfolio-links-button{
    border: none;
    background-color: #ffffff;
    margin-right: 20px;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 100%;
    color: rgb(155, 155, 155);
}

.active-custom{
color: rgb(211, 57, 83);
border-bottom: 3px solid rgb(211, 57, 83);
}

.container{
    margin-top: 30px;
}
.main-packages{
    margin-left: 1.5rem;
}
.row1, .row2, .row3{
    margin-bottom: 1rem;
}

.row1 p,.row2 p, .row3 p{
  margin-bottom: 0;
}

.text-tertiary{
    color: gray;
}

.fcol1{
border-right: 1px solid gray;
}

.page-location{
    margin: 3% 50px 0 50px;
}

.main-prices {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(252, 31, 68);
}

.rupees {
    margin-top: 0.3rem;
}

.more-details-columns {
    margin-bottom: 1rem;
}

.more-details p {
    margin-bottom: 0;
}
.pricing-breakup p{
    font-weight: 500;
    color: #414141;
}



/*-----------------------------------------Venue------------------------------------*/

/*edited*/
.venue-profile-pic {
    width: 100%;
    height: 70%;
}


.venue-details {
    position: relative;
    margin-top: -10%;
    width: 100%;
    z-index: 0;

}

.below {
    position: relative;
    border-bottom: 1px solid rgb(231, 46, 119);
}

.below::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-left: 1px solid rgb(231, 46, 119);
    border-bottom: 1px solid rgb(231, 46, 119);
    background: rgb(255, 255, 255);
    transform: rotate(-45deg);
    top: -4px;
    left: 150px;
    transition: left 0.05s ease-in 0s;
}

.availability-row{
    margin-bottom: 1rem;
}

.availability-row p{
    font-weight: 500;
}

input[type=radio]:hover{
    cursor: pointer;
}

.input-text {
    padding: 0.3rem;
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.input-text:hover{
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    background:  rgba(201, 201, 201, 0.288);
}

.availability-row:nth-child(5){
    text-align: center;
}

.check-btn, .book-btn{
    width: 50%;
}



/*--------------------------------book-------------------------------------------*/
.form{
    height: 100%;
}


  .menu-item-heading {
    font-size: 18px;
    margin: 10px 0 12px;
  }
  

.package-col{
    display: flex;
    justify-content: center;
    align-items: center;
}




.ratings-body-column-2{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px black inset;
}


.ratings-body-column-2 .star-widget input {
    display: none;
}
.star-widget input{
    position: relative;
    width: 1%;
    border: none;
    padding: 0%;
}

.star-widget i{
    position: relative;
    margin-top: 0.5rem;
    font-size: 100%;
    width: 100%;
}


.star-widget {
    position: relative;
    width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color:rgb(88, 88, 88);
	margin-bottom: 0.5rem;
}
.star-widget .star {
	cursor: pointer;
}
.star-widget .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.star-solid{
    color: yellow;
}

.star-widget .star:hover {
	transform: scale(1.1);
}

.rate-5{
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.form-1{
    width: 100%;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.post-btn{
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#post {
    position: relative;
    border: none;
    font-size: 100%;
    font-weight: 500;
    background: #555555;
    color: white;
    border-radius: 3px;
    padding: 2%;
    margin: 0.5rem;
    transition: all .2s ease;
    border: 1px solid  #555555;
}

#post:hover {
    background: #616161ee;
    box-shadow: 0 0 10px rgb(0, 0, 0) inset;
}


@media only screen and (max-width:598px) {
    .star-widget i,.rating-summary-header,.rate-us-header,.rating-avg{
        overflow: hidden;
    }
}



#vendor-profile-pic{
    width: 100%;
    height: 300px;
}
/*-----------------------------------------------------------------------------------------------------*/