@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* ----------------------------------------Header------------------------------------------------ */

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999;
    background: #000000af;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8%;
}

.header .navbar-logo{
    width: 6%;
}


.header .navbar a{
    font-size: 100%;
    margin: 0 0.4rem;
    color: white;
    font-weight: bold;
    transition: all 0.5s ease;
    padding: 7px;
    border-radius: 3px;
    transition: all 0.5s ease;

}

.header .navbar a:hover{
    box-shadow: 0 0 10px black, 0 0 10px white inset;
}

.login-btn{
    display: inline-block;
    border-radius: 3px;
    background: #c48cf1;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    padding: 7px 10px;
    margin-top: 0;
    border: none;
    transition: all 0.5s ease;
}

.login-btn:hover{
background: #a135fa;
}

.header .user-btn .user-icon{
font-size: 1.5rem;
color: rgb(255, 255, 255);
cursor: pointer;
display: none;
margin-right: 1rem;
}

#menu-btn{
    font-size: 1.5rem;
    color: rgb(214, 214, 214);
    cursor: pointer;
    margin-left: 1rem;
  display: none;
}

.dropdown_menu{
    box-shadow: 1px 1px 20px black;
}

.dropdown_menu a{
    font-size: 1rem;
}
.dropdown_menu a i{
    margin-right: 0.5rem;
}


.dropdown_menu a:hover{
background: #b6b6b68f;
}

@media(max-width:991px){

    .header{
        font-size: 80%;
        padding: 0.5px;

    }
    .header .navbar-logo{
        width: 10%;
    }
}


@media(max-width:768px){
 
    #menu-btn{
    display: block;
    }

    .header .user-btn .user-icon{
        display: block;
        }

    .header .user-btn .login-btn{
        display: none;
    }

    .header .navigation-bar{
        display: none;
    }

    .header .navbar-active{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 99%;left: 0; right: 0;
        background: #1a1a1a;
        border-top: 1px solid rgb(167, 167, 167);
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    }

    .header .navbar a{
        display: block;
        padding: 1rem 3rem;
        margin: 0.1rem;
        font-size: 1rem;
        transition: all 0.5s ease;
        border-bottom: 1px solid rgba(141, 141, 141, 0.356);
    }

    .header .navbar a:hover{
        box-shadow: 1px 1px 5px white;
    }

}


/* ---------------------------------------------------------------------------------------------- */

/*-----------------------------------------Home--------------------------------------------------*/

.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background:url('../images/bg22.jpg');
    background-size: cover;
    opacity:0.9;
    height: 100vh; /* Ensure the body takes up the full viewport height */
    overflow-x: hidden;
}

#logo {
    width: 35%;
    height: 70%;
    opacity: 0;
}

#tag {
    position: relative;
    font-family: "Nunito";
    color:whitesmoke;
    font-size: 2rem;
    text-align: center;
    opacity: 1;
    margin-top: 5%;
}

#btn{
    border-radius: 50px;
    border: 1px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    font-family: "Nunito";
    font-size: 25px;
    padding:1%;
    margin-top: 5%;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
.container{
    display:grid;
    place-items: center;
    padding:5%;
    background:url(bg22.jpg);
    background-size: cover;
}
#logo {
    width: 50%; /* Adjust the logo size for smaller screens */
    height: 40%;
}

#tag {
    font-size: 100%; /* Decrease font size for smaller screens */
}
}
/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
.container{
    display:grid;
    place-items: center;
    padding: 5%;
    background:url(bg22.jpg);
    background-size: cover;
}
#logo {
    width: 50%; /* Further adjust the logo size for very small screens */
    height: 40%;
}

#tag {
    font-size: 100%; /* Decrease font size for very small screens */
}
}

/* ------------------------------------------------------------------------------------------------ */

/* -------------------------------------About us--------------------------------------------------- */
.main_about{
    background: rgb(53, 56, 53);
    background: linear-gradient(360deg, rgb(161, 165, 161) 0%, rgb(43, 48, 43) 100%);
   
}
.about {
  
    padding: 70px 0 20px 0;
    text-align: center;
}

.about h1 {
    font-size:3rem;
    color: rgba(231, 220, 158, 0.863);
    text-shadow: 0 0 3px rgb(218, 207, 207);
    font-family:'kalam','cursive';
    margin-bottom: 20px;
}
.about p {
    font-size: 1rem;
    color: #e9dfdf;
    max-width: 800px;
    margin: 0 auto;
}
 
.about-info {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding:1rem;
}
 
.about-img {
    width: 20rem;
    height: 20rem;
 
}
 
.about-img img {
    width: 25rem;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    filter:drop-shadow( 0 0 20px rgb(158, 75, 75));   
}
.about-img img:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    cursor: pointer;
}
 
.about-info p {
    font-size: 1.3rem;
    margin: 0 6rem;
    text-align: justify;
}
@media screen and(max-width:560px){
    .about-img img{
        width:100%;
        height:auto;
    }
    .about-info{
        margin: 2rem 2rem;
    }
}
 
 
/*chhose*/

.main_choose h1{
    font-size:3rem;
    color: rgba(231, 220, 158, 0.863);
    text-shadow: 0 0 3px rgb(218, 207, 207);
    font-family:'kalam','cursive';
}
.choose h6{
    color:#fff;
    text-align: center;
    margin-top:-20px;
    font-weight:200;
    font-size:15px;
}
.main_choose{
    width:100%;
    text-align: center;
    margin-top:3rem;
}
.row_choose_box{
    width:100%;
    margin-top:1rem;
   
}
#col_choose{
    border-left:2px solid rgb(168, 68, 68);
    padding:4px;
    width:27rem;
    height:10rem;
    margin:20px;
    background-color: rgb(209, 209, 179);
}
#row_choose{
    width:100%;
    display:flex;
    justify-content: center;
    
}
#col_choose span{
    color: rgb(241, 86, 86);
    font-weight: 700;
   
    
}
#col_choose h3{
    color:#332a2a;
}
#col_choose p{
    font-size:1rem;
   
}
#col_choose:hover{
    background-color: rgba(172, 166, 201, 0.884);
    color:rgb(189, 201, 200);
}
#col_choose:hover h3{
    color:rgb(235, 235, 203);
}
#col_choose:hover span{
    color:rgb(31, 28, 28);
}
/*-----------------------------team---------------------------------*/


.team_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height:100vh;
    width:100%;
    margin-top:3rem;
}

.team h1{
    text-align:center;
    font-size:1.5rem;
    color: rgba(29, 31, 39, 0.863);
    text-shadow: 0 0 3px rgb(75, 59, 59);
    font-family: 'kalam','cursive';
}
.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 50px;
    padding-bottom:50px;
}
.card{
    position:relative;
    width:250px;
    height:450px;
    background: #fff;
    overflow: hidden;
    border-radius: 10px;
    margin:20px;
    transition: 0.4s;
    box-shadow: 0 0 7px rgb(83, 42, 42);
}
.card:hover{
    transform: scale(1.1);
    background: #d6a7a4;
}
.card .circle{
    position:absolute;
    top:-190px;
    left:50%;
    width:500px;
    height:500px;
    transform: translateX(-50%);
    clip-path:circle();
}
.card .circle::before{
    content:'';
    position: absolute;
    top:-7px;
    left:-16px;
    width:100%;
    height:100%;
    box-shadow:0 0 0 20px rgb(110, 53, 53);
    border-radius:50%;
    z-index:3;
}
.circle .imgbox{
    position: absolute;
    left:50%;
    bottom:0;
    transform: translateX(-50%);
    width:270px;
    height:310px;
}
.imgbox img{
    position: absolute;
    top:0;
    left:0;
    object-fit:cover;
    width:100%;
    height:100%;
    transition:all .5s;
}
.card .content{
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height:140px;
    padding :20px 30px;
}
.content .fa-instagram{
    padding:2px 4px;
    color:#fff;
    /* background: rgb(110, 53, 53); */
    border-radius:2px;
}
.content .fa-instagram:hover{
    background:rgb(26, 26, 90);
}
.content h3{
    font-size:1.4rem;
    color:#333;
    margin-top:7px;
    margin-top:2px;
}
.content .texticon{
    display: flex;
    width:100%;
    gap:40px;
}
.content .texticon h4{
    color:rgb(110, 53, 53);
    font-weight:150px;
    letter-spacing:1px ;
}
.card:hover .content .texticon h4{
    color:rgb(121, 42, 42);
}
/*--------------------------------------------------------------------------------------------------*/

/* ---------------------------------------Services-------------------------------------------------- */


.services {
    width: 100%;
   /* background: linear-gradient(160deg, #00103d 10%, #033ca7 30%,rgb(102, 216, 236) 50%, #033ca7 60%, #00103d 80%);*/
    background: linear-gradient(160deg, #2c003d 10%, #9101b4 30%,rgba(250, 110, 187, 0.877) 50%, #9101b4 60%, #2c003d 80%);
    padding-top: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.774);
    overflow: hidden;
    margin-top: 0px;
    padding-bottom: 80px;
}
.honeycomb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    transform: translateY(34.375px);
}
.honeycomb-cell {
    flex: 0 1 250px;
    max-width: 250px;
    height: 137.5px;
    margin: 65.4761904762px 20px 43px;
    position: relative;
    padding: 1.5em;
    text-align: center;
    z-index: 1;
    filter: drop-shadow(20px 20px 30px rgb(0, 0, 0));
}

.honeycomb-cell__title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    hyphens: auto;
    word-break: break-word;
    text-transform: capitalize;
    color: #000000;
    transition: all 50ms;
    font-family: cursive;
}
.honeycomb-cell__title > small {
    font-weight: 500;
    margin-top: 0.25em;
}
.honeycomb-cell__image {
    object-fit: cover;
    object-position: center;
    
}
 .honeycomb-cell::after {
    content: '';
}
.honeycomb-cell::before, .honeycomb-cell::after, .honeycomb-cell__image {
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}
.honeycomb-cell:hover{
   transform: scale(0.9);
   animation: anime 0.7s ease-in-out;
}

@keyframes anime {
   100%{
       rotate: 360deg;
   }
}

.honeycomb-cell::before {
    background: #ffffff;
    transform: scale(1.055);
}
.honeycomb-cell::after {
    background: #fff0f0;
    opacity: 0.5;
    transition: opacity 350ms;
    box-shadow: 0 0 50px rgb(0, 0, 0) inset;
}
.honeycomb-cell:hover .honeycomb-cell__title {
    opacity: 0;
}
.honeycomb-cell:hover::before {
    background: #72f88e;
}
/* 
.honeycomb-cell:hover::after{
   background: transparent;
} */
.honeycomb-cell:hover button {
    opacity: 1;
    z-index: 1;
}
.honeycomb-cell__title h4{
    font-family: Poppins;
}

.service-button{
   position: relative;
   background: transparent;
   border: 2px solid black;
   box-shadow: 0 0 5px black;
   padding: 5px;
   width: 50%;
   font-weight: bolder;
   z-index: -1;
   cursor: pointer;
   opacity: 0;
   border-radius: 10px;
}

.service-button:hover{
   box-shadow:0 0 5px rgb(255, 255, 255) inset,0 0 10px black ;
}

.service-button a{
   color: #000000;
   font-size: 1.1rem;
}

@media (max-width: 550px) {
    .honeycomb-cell {
        margin: 81.25px 25px;
   }
}
@media (min-width: 550px) and (max-width: 825px) {
    .honeycomb-cell:nth-child(3n) {
        margin-right: calc(50% - 125px);
        margin-left: calc(50% - 125px);
   }
    .honeycomb__placeholder:nth-child(3n + 5) {
        display: block;
   }
}
@media (min-width: 825px) and (max-width: 1100px) {
    .honeycomb-cell:nth-child(5n + 4) {
        margin-left: calc(50% - 275px);
   }
    .honeycomb-cell:nth-child(5n + 5) {
        margin-right: calc(50% - 275px);
   }
    .honeycomb__placeholder:nth-child(5n), .honeycomb__placeholder:nth-child(5n + 3) {
        display: block;
   }
}
@media (min-width: 1100px) {
    .honeycomb-cell:nth-child(7n + 4) {
        margin-left: calc(50% - 400px);
   }
    .honeycomb-cell:nth-child(7n + 7), .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
        margin-right: calc(50% - 400px);
   }
    .honeycomb__placeholder:nth-child(7n + 7), .honeycomb__placeholder:nth-child(7n + 9), .honeycomb__placeholder:nth-child(7n + 11) {
        display: block;
   }
}


/* -------------------------------------------------------------------------------------------------- */


/* --------------------------------------------Gallery------------------------------------------- */

.gallery-container{
    width:100%;
    height:30%;
    background:linear-gradient(20deg,#16001f,#353535,rgb(85, 85, 85),#414141, #16001f);
    background-size: cover;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
    margin-bottom: 0;
}

#gallery-title{
    color:whitesmoke;
    font-size: 35px;
    background:linear-gradient(20deg,#16001f,#353535,rgb(85, 85, 85),#414141, #16001f);
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding:20px;
    font-family: 'nunito';
}

.gallery-container .gallery-carousel{

    width:1200px;
    height:500px;
    margin:80px;
    overflow: hidden;
}

.gallery-container .gallery-carousel .image{
    width:400px;
    height:300px;
    border-radius: 10px;
    border: 1px solid white;
}

.gallery-container .gallery-carousel img{
    -webkit-box-reflect: below 8% linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.3));
}


/* -------------------------------------------------------------------------------------------------- */

/*---------------------------------------------Packages--------------------------------------------*/
#package{
    background:linear-gradient( #2c003d, #9c00c4);
    text-align: center;
    margin-top: 0;
  }
  #package-main{
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  
  }
  .package-wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .package-wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 5;
  }
  .package-wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .package-wrapper i:first-child{
    left: -22px;
  }
  .package-wrapper i:last-child{
    right: -22px;
  }
  .package-wrapper .package-carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 3;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .package-carousel::-webkit-scrollbar {
    display: none;
  }
  .package-carousel.no-transition {
    scroll-behavior: auto;
  }
  .package-carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .package-carousel.dragging .package-card {
    cursor: grab;
    user-select: none;
  }
  .package-carousel :where(.package-card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .package-carousel .package-card {
    scroll-snap-align: start;
    height: 28rem;
    width: 22rem;
    list-style: none;
    background: #fff;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .package-card ul{
    list-style: disc;
    font-size: 1rem;
    margin-bottom: -2px;
  }
  #package-heading{
    color: #f9d5a9;
    font-size: 3rem;
    text-align: center;
    padding-top: 10px;
    margin-bottom: -50px;
    font-family: Kalam;
  }
  .package-card h3{
    font-size: 1.5rem;
    margin: 5px;
    color: rgba(24, 24, 24, 0.83);
  }
  .package-card{
    /*background: url(/images/Birthday.jpg);
    background-size: cover;*/
    position: relative;
    text-align: center;
  }
  .package-card div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #package-farewell h3{
    background: #fff;
    border-radius: 20px;
  }
  .package-btn{
    width: 100%;
    margin: 0.5rem;
    padding: 0.1rem;
    cursor:pointer;
    background: darkslategray;
    border-radius:  100px;
    border: 1px solid darkslategray;
    font-size: 1.4em;
    color: #fff;
    box-shadow: 2px 3px 5px darkslategray;
    transition: all 400ms ease-in 5ms;
  }
  .package-btn:hover{
    transform: scale(1.2);
  }
  #package-button{
    text-align: center;
    position: relative;
    top: -6rem;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 1rem;
    cursor: pointer;
    background: rgba(24, 24, 24, 0.83);
    border: 1px solid rgba(24, 24, 24, 0.83);
    box-shadow: 2px 3px 5px rgba(24, 24, 24, 0.83);
    color: #fff;
  }
  @media screen and (max-width: 900px) {
    .package-wrapper .package-carousel {
      grid-auto-columns: 2;
    }
  }
  
  @media screen and (max-width: 600px) {
    .package-wrapper .package-carousel {
      grid-auto-columns: 1;
    }
  }
/*-------------------------------------Ratings---------------------------------------------------------*/

.ratings {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 10px 0px 30px 10px;
    background:linear-gradient(20deg,#16001f,#353535,rgb(85, 85, 85),#414141, #16001f);
    box-shadow: -2px -2px 10px rgba(128, 128, 128, 0.644);
    padding-top: 30px;
    overflow: hidden;
}

.ratings-body-rows {
   /* border: 10px double black;*/
   box-shadow: -2px -2px 10px rgba(221, 221, 221, 0.644) inset;
    background: #9e9e9e54;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex;
}


.ratings-body-column-1,
.ratings-body-column-2 {
    position: relative;
    color: white;
    border: 1px solid #444;
    text-align: center;
    border-right: gray;
    width: 450px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px black, -2px 2px 5px rgb(248, 248, 248);

}

.rating-summary-header,.rate-us-header{
    font-family: cursive;
}

/*-------Ratings--------------------*/
.ratings-body-column-1{
    background: rgba(3, 3, 3, 0.692);
    height: 350px;
}


.rating-summary-body{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.progress-div{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.progress_bar {
    background: rgb(252, 252, 35);
}

.progression {
    position: relative;
    width: 100%;
    height: 10px;
   margin-left: 5px;
    color: white;
}

.progress-group {
    position: relative;
    display: flex;
    font-size: 1.3rem;
    width: 100%;
    margin: 3% 0% 0% 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.rating-avg{
    display: flex;
    position: relative;
    width: 50%;
    margin: -10% 0% 0% 20%;
}


/*-------Rate us-----------*/

.ratings-body-column-2{
    background: #0e0e0ee7;
    height: 400px;
}


.ratings-body-column-2 .star-widget input {
    display: none;
}
.star-widget input{
    position: relative;
    width: 1%;
    border: none;
    padding: 0%;
}

.star-widget i{
    position: relative;
    margin-top: 5%;
    font-size: 100%;
    width: 100%;
}


.star-widget {
    position: relative;
    width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color:rgb(88, 88, 88);
	margin-bottom: 1rem;
    margin-left: 5rem;
}
.star-widget .star {
	cursor: pointer;
}
.star-widget .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.star-solid{
    color: yellow;
}

.star-widget .star:hover {
	transform: scale(1.1);
}

.rate-5{
    text-shadow: 0px 0px 5px rgb(252, 252, 79);
}

.form-1{
    width: 100%;
    position: relative;
}

.form-1 header {
    width: 100%;
    color: rgb(255, 255, 41);
    text-shadow: 0 0 1px rgb(255, 255, 41);
    text-align: center;
    font-size:100%;
    font-weight: 500;
    padding: 10px 0px 30px 10px;
    transition: all 0.2s ease;
}

.form-1 .usernameR input{
    position: relative;
    height: 100%;
    width: 50%;
    outline: none;
    padding: 1%;
    font-size: 100%;
    resize: none;
    background: #5e5e5ee3;
    color: white;
    border: 1px solid rgb(148, 147, 147);
    border-radius: 3px;
    transition: all .2s ease;
    margin-left: 5px;
}

.usernameR input:hover{
    background: #8a8a8aa2;
}

.form-1 .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.form-1 .textarea textarea {
    position: relative;
    height: 100%;
    width: 80%;
    outline: none;
    padding: 1%;
    font-size: 100%;
    resize: none;
    background: #5e5e5ee3;
    color: white;
    border: 1px solid rgb(148, 147, 147);
    border-radius: 3px;
    transition: all .2s ease;
}

.textarea textarea:hover{
    background: #8a8a8aa2;
}

.post-btn{
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  
}
#post {
    position: relative;
    width: 30%;
    border: none;
    font-size: 100%;
    font-weight: 500;
    background: #555555;
    color: white;
    border-radius: 3px;
    padding: 2%;
    margin: 5%;
    transition: all .2s ease;
    border: 1px solid  #555555;
}

#post:hover {
    background: #b6b5b58a;
    border: 1px solid rgb(255, 255, 255);
}


@media only screen and (max-width:598px) {
    .star-widget i,.rating-summary-header,.rate-us-header,.rating-avg{
        overflow: hidden;
    }
}
/*-----------------------------------------------------------------------------------------------------*/


/*--------------------------------------Reviews--------------------------------------------------*/
#review{
    background: linear-gradient(160deg, #d367fd, #e9c8f1 ,#9e49c0);
    margin:50px 1px;
    padding: 1px;
    margin-top: 0;
    margin-bottom: 0;
   }
   .review-heading{
    text-align: center;
    padding: 5px;
    color: #3a2509;
    font-size: 3rem;
    font-family: Kalam;
   }
   .review-title{
    color: #7f5114;
    text-align: center;
    font-size:1.2rem;
    margin-top: -15px;
   }
   .review-box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
   }
   .review-box{
    width: 22rem;
    text-align: center;
    padding: 0 2rem;
    margin: 5rem 1.5rem;
    background: #6666;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
   }
   .review-box i{
    font-size: 6rem;
    margin-top: -3rem;
    color: var(--red);
    opacity: 0.4;
   }
   .review-box p{
    color: 666;
    font-size: 1rem;
    padding: 2rem 0;
    height: 10em;
   }
   .review-user{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 1rem 0;
    border-top: 0.1rem solid #3334;
   }
   .review-user img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin: -1rem 1rem;
   }
   .review-info h3{
    color: var(--red);
    font-size: 1.8rem;
    margin-left: 2rem;
   }
   .review-info span{
    color: #666;
    margin: 0 2rem;
    font-size: 1.5rem;
   }
   .review {
      position: relative;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-gap: .5rem;
      font-size: 0.2rem;
      color:yellow;
      margin-left: 40em;
      margin-top: 10em;
      padding-bottom: 0;
  }
  .review span {
      font-size: 18em;
      opacity: 1;
      display: block;
  }
  #review .review-link{
      width: 10.5em;
      border: 10px;
      border-radius: 10px;
      background: #6666;
      font-size: 1.6em;
      float: right;
      margin-top: -3em;
      margin-right: 7em;
      padding: 0.2em;
      box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
      cursor: pointer;
  }
  #review .review-link:hover{
      background: #aaaa;
  }
  #review .review-link a{
      color: black;
      text-decoration: none;
  }
  
/*-----------------------------------------------------------------------------------------------------*/

/*---------------------------------------Footer--------------------------------------------------------*/

.main_call{
    min-height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/_con.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
    margin-top: 0;
}
.main_call::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,.8);
}
.contact{
    position: relative;
    z-index:3;
    padding-top:50px;
    padding-bottom:50px;
}
.container_call{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.section-header{
    margin-bottom: 50px;
    text-align: center;
}
.section-header h2{
    color:#00bcd4;
    text-shadow: 0 0 3px #00bcd4;
    font-weight:bold;
    font-size:4rem;
    margin-bottom: 20px;
    font-family: 'kalam','cursive';
}
.section-header p{
    color:#fff;
}
.row_call{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:30px;
}
.contact-info{
    width:50%;
}
.contact-info-item{
    display: flex;
    margin-bottom:30px;
    margin-top:20px;
}
.contact-info-icon{
    height:4.5rem;
    width:4.5rem;
    background-color: #fff;
    text-align: center;
    border-radius:50%;
}
.contact-info-icon:hover{
    background-color: #be4b98;
}
.contact-info-icon i{
    font-size:30px;
    line-height:70px;
}
.contact-info-content h4{
    color:#1da9c0;
    text-shadow: 0 0 2px #00bcd4;
    font-size:1.4rem;
    margin-bottom:5px;
    margin-left:20px;
}
.contact-info-content p{
    color: #fff;
    font-size:1rem;
    margin-left:20px;
}
.contact-form{
    background-color: #fff;
    padding:40px;
    width:45%;
    padding-bottom:20px;
    padding-top:20px;
}
.contact-form:hover{
        background: linear-gradient(#f0c1c1,#d4b4b4);
    }
.contact-form h2{
    font-weight:bold;
    font-size:2rem;
    margin-bottom:10px;
    color:#394d50;
}
.contact-form .input-box{
    position:relative;
    width:100%;
    margin-top:10px;
}
.contact-form .input-box input,
.contact-form .input-box textarea{
    width:100%;
    padding:5px 0;
    font-size:16px;
    margin:10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline:none;
    resize: none;
}
.contact-form .input-box span{
    position:relative;
    left:0;
    padding:5px 0;
    font-size:16px;
    margin:10px 0;
    transition:0.5s;
    color:#666;
}
.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
    color:#e91e28;
    font-size:12px;
    transform:translateY(-20px);
}
.contact-form .input-box input[type="submit"]{
    width:100%;
    background-color: #37b7c7;
    color:#333;
    border:none;
    cursor:pointer;
    padding:10px;
    font-size:18px;
    border:1px solid #00bcd4;
    box-shadow: 0 0 5px #00bcd4,0 0 5px whitesmoke ;
    transition:0.5s;
}
.contact-form .input-box input [type="submit"]:hover{
    background-color: #fff;
    color:#36bcce;
}
@media(max-width:667px){
    .row_call{
        flex-direction:row;
        flex-wrap:wrap;
    }
    .contact-info{
        width:100%;
    }
    .contact-form{
        width:100%;
    }
}
@media(max-width:300px){
    
    .row_call{
        flex-direction:column;
        flex-wrap:wrap;
    }
    .container{
        width:100%;
    }
    .contact-info{
        width:100%;
    }
    .contact-form{
        width:100%;
    }
    .contact-info-item{
        height:4.5rem;
        width:4.5rem;
    }
}

.footer{
    background-color: black;
    margin-top:0;
    width:100%;
}

.footer .box-container{
    display:flex;
    justify-content: space-evenly;
}
.footer .box-container h3{
    font-size:2rem;
    padding:1rem 0;
    color:#fff;
}
.footer .box-container .box a i{
    padding-right:.5 rem;
    
}
.footer .box-container .box a{
    display:flex;
    text-decoration: none;
    gap:.4rem;
    
}
.footer .box-container .box span{
    color:white;
}

.footer .box-container .box a:hover i{
    padding-right:1.5 rem;
    color: #a83a3a;
}
.footer .box-container .box a:hover span{
    color:rgb(31, 93, 207);
    text-decoration: underline;
}
.footer .credit{
    text-align:center;
    border-top: .1rem solid #222;
    color:#fff;
    padding:2rem;
    padding-top:2.5rem;
    margin-top:1rem;
    font-size:.9rem;
}
.footer .credit:hover{
    color:rgb(31, 93, 207);
}
@media screen and (max-width:380px) {
    .footer{
        width:100%;
    }
    .footer .box-container{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }
    .footer .box-container .box a{
        gap:0.4rem;
    }
}
@media screen and (max-width:768px) {
    .footer{
        width:100%;
    }
    .footer .box-container{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }
    .footer .box-container .box a{
        gap:0.4rem;
    }
}



/*-----------------------------------------------------------------------------------------------------*/

/*---------------------------------------Signup-------------------------------------------------------*/


.form-container{
    margin-top: 3%;
    width: 500px;
}


.form {
    padding: 25px;
    border-radius: 12px;
    background-image: url('/images/signup_bg1.jpg');
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    transition: all 0.5s ease out;
    animation: anime 5s linear infinite;
    box-shadow: 5px 5px 20px rgb(255, 255, 255);
}

@keyframes anime {
    100%{
        filter: hue-rotate(360deg);
    }
}

.form-content{
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffffff57;
    border: none;
}

.form .field {
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 30px;
    border-radius: 6px;
}


.form-title {
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.form-close{
    transform: translateX(450%);
    position: relative;
}

.input-field input,
.button-field button,
.input-field select {
    background: #ffffffd3;
    height: 100%;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0px 40px;
    color: rgb(37, 37, 37);
}

.input-field input:focus {
    background: #ffffff;
}

.input-field span{
    margin: 2px 0px 2px 0px;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-field i.email,
.input-field i.pw_lock,
.input-field i.user,
.input-field i.role {
    left: 5px;
    color: gray;
}

.input-field input:focus~i.email,
.input-field input:focus~i.pw_lock,
.input-field input:focus~i.user,
.input-field input:focus~i.role{
    color: rgb(173, 1, 173);
}

.input-field i.pw_hide {
    right: 3%;
    color: gray;
    cursor: pointer;
    font-size: 18px;
}

.button-field button {
    color: #fff;
    background-color: #016dcbe0;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
    border: none;
}

.button-field button:hover {
    background-color: #005baa;
}

.form-link {
    text-align: center;
    margin-top: 15px;
}

.form-link span,
.form-link a {
    font-size: 17px;
    font-weight: 500;
    color: #fdfdfd;

}

.form a {
    color: #138efa;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}

/*-----------------------------------------------------------------------------------------------------*/


/*-----------------------------user profile-----------------------------------------------*/
#userProfile{
    width: 60%;
    height: 60%;
    background:linear-gradient(180deg, darkslategray, lightslategray);
    border-radius: 5px;
    display: block;
    margin: 2px auto;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px 3px #ccc;
    font-size: 1.1em;
    opacity: 1;
 }
 .userPContent{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 #userProfile h1{
     color: white;
     text-align: center;
     margin-bottom:10px;
 }
 #userProfile .userPInfo{
    color: white;
   margin-left: 3%;
 }
 #userPUpdate{
     display: flex;
     flex-direction: column;
     margin: 10px ;
 }
 #btnprof{
     /* margin:20px; */
     border: none;
     border-radius: 5px;
     background-color: rgb(205, 198, 198);
     font-size: 1.3em;
     margin-top: 16px;
 }
 #btnprof a{
    color:black;
 }
 .showuserProfile{
     opacity: 1;
     z-index: 1;
 }
 .showuserProfileC{
     top: 50%;
 }
 #userProfile label{
    display: block;
    margin: 1em 2em;
    width: max-content;
    border-bottom: 1px solid grey;
 }
 #userProfile input{
     border: none;
     padding:2px 20px;
     margin-left: 10px;
 }
 #userProfile span{
     position: absolute;
     right: 0px;
     width: 30px;
     height: 30px;
     background-color: transparent;
     text-align: center;
     top: 0;
     color: white;
     line-height: 30px;
     cursor: pointer;
 }
 #userProfile .passwdCheck{
     width: 300px;
     background-color: #fff;
     padding:30px 20px;
     position: absolute;
     left: 50%;
     top: -50%;
     transform: translate(-50%,-50%);
     box-shadow: 0 0 10px 3px #ccc;
     transition: 2s;
     z-index: 9;
 }
 #userProfile .showpasswdCheck{
     top: 50%;
 }
 #userProfile .passwdCheck span{
     color: red;
 }
/*-----------------------------user profile-----------------------------------------------*/

.vendorlink{
    background-color: #192655;
    color: white;
    font-family: 'Nunito';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
}

.vendorlink a{
    color:white;
    text-decoration: none;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition:all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}