html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px;
}

input {
    margin-right: 5px;
}

/*--------------------------Header--------------------------------------------*/
.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #000000d5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8%;
}

.header .navbar-logo {
    width: 6%;
}


.header .navbar a {
    font-size: 100%;
    margin: 0 0.4rem;
    color: white;
    font-weight: bold;
    transition: all 0.5s ease;
    padding: 7px;
    border-radius: 3px;
    transition: all 0.5s ease;

}

.navigation-bar i {
    margin-right: 5px;
}

.login-btn {
    display: flex;
    border-radius: 3px;
    background: black;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    padding: 7px 10px;
    margin-top: 0;
    margin-right: 10px;
    border: none;
    transition: all 0.5s ease;
}

.login-btn:hover,
.header .navbar a:hover {
    box-shadow: 0 0 10px black, 0 0 10px white inset;
}




#menu-btn {
    font-size: 1.5rem;
    color: rgb(214, 214, 214);
    cursor: pointer;
    margin-left: 1rem;
    display: none;
}

.dropdown_menu {
    box-shadow: 1px 1px 20px black;
}

.dropdown_menu a {
    font-size: 1rem;
}

.dropdown_menu a i {
    margin-right: 0.5rem;
}


.dropdown_menu a:hover {
    background: #b6b6b68f;
}




@media(max-width:991px) {

    .header {
        font-size: 80%;
        padding: 0.5px;

    }

    .header .navbar-logo {
        width: 10%;
    }
}


@media(max-width:768px) {

    #menu-btn {
        display: block;
    }

    .header .navigation-bar {
        display: none;
    }

    .header .navbar-active {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 99%;
        left: 0;
        right: 0;
        background: #1a1a1a;
        border-top: 1px solid rgb(167, 167, 167);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        display: block;
        padding: 1rem 3rem;
        margin: 0.1rem;
        font-size: 1rem;
        transition: all 0.5s ease;
        border-bottom: 1px solid rgba(141, 141, 141, 0.356);
    }

    .header .navbar a:hover {
        box-shadow: 1px 1px 5px white;
    }

}

/*--------------------------------------------------------------------------------*/

.page-location {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 1% 0 0 0.5%;
}

.page-location ol {
    display: flex;
}

.page-location nav {
    width: 50%;
}

.input-group form {
    display: flex;
}

.filter-search {
    display: flex;
}

.filter-search div {
    margin-right: 20px;
}

.search-btn,
.search-input {
    height: 80%;
}

/*--------------------------------------------------------------------------------*/
.venue-container {
    margin-top: 3%;
    background: white;
}

.photographer-container {
    margin-top: 1%;
    background: white;
}

.box1 {
    position: relative;
    width: 100%;
    justify-content: left;
    display: flex;
}

.column {
    position: relative;
    height: 310px;
    width: 410px;
    left: 1%;
    background: #ffffffb2;
    box-shadow: 0px 0px 15px #094729 inset;
    margin: 1%;
    border-radius: 10px;
    transition: all 0.5s ease;
    padding: 0;
}

.column:hover .service-brief {
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
}

.service-figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 7px black;
    border-radius: 10px;
    top: 0;
    left: 0;
}

.services-img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .5s linear;
    display: block;
    top: 0;
    left: 0;
}

.column:hover .services-img {
    transform: scale(1.1);
}


.service-brief {
    position: absolute;
    width: 100%;
    height: 50px;
    padding: 3px 0 0 15px;
    display: flex;
    background: #ffffff8e;
    backdrop-filter: blur(0.7);
    flex-direction: column;
    text-align: justify;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(.48, -0.28, .41, 1.4);
    bottom: 0;
    border-radius: 10px;
}


.service-brief h6 {
    color: #000000;
    font-family: cursive;
    font-weight: bold;
    font-size: 1.1rem;
}

.service-brief h6:hover {
    color: rgb(0, 16, 156);
}

.venue-description {
    position: relative;
    width: 100%;
}

.venue-name {
    margin: 1rem 2rem 0rem 0;
    display: flex;
}

.venue-name div {
    position: relative;
    width: 100%;
}

.venue-name span {
    margin-left: 7rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.venue-name i {
    right: 0;
    color: rgb(255, 0, 98);
    font-size: 1.3rem;
}

.venue-location {
    display: flex;
}

.venue-location a {
    color: rgb(46, 46, 46);
    font-weight: 500;
}

.location {
    display: flex;
}

.location p {
    margin-left: 5px;
    margin-bottom: 0;
}

.venue-location div,
.venue-price span {
    margin-bottom: 0.3rem;
}


.venue-price {
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: bold;
    display: flex;
}

.venue-price div {
    display: flex;
    margin-right: 30px;
}

.venue-price span {
    margin-right: 5px;
}


.explore {
    background: transparent;
    border: 2px solid black;
    box-shadow: 0 0 5px rgb(0, 0, 0) inset;
    padding: 5px;
    width: 100%;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 3rem;
}

.explore:hover {
    box-shadow: 0 0 10px black;
}

.explore a {
    color: #000000;
}


/*---------------------------------filter--------------------------------------*/

.form {
    padding: 25px;
    border-radius: 12px;
    background: black;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease out;
    box-shadow: 5px 5px 20px rgb(255, 255, 255);
}


.form-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffffff;
    border: none;
}


.form-title {
    font-size: 30px;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.form-close {
    transform: translateX(1500%);
    position: relative;
}

.iform-close{
    transform: translateX(480%);
    position: relative;
}



@media(max-width:1198px) {
    .form-close {
        transform: translateX(1000%);
    }
}


@media(max-width:990px) {
    .form-close {
        transform: translateX(500%);
    }
}

@media(max-width:400px) {
    .form-close {
        transform: translateX(200%);
    }
}

.filter-rows {
    color: rgb(100, 100, 100);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.filter-body {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.filter-topics {
    font-size: 0.9rem;
    padding: 7px;
    border: 1px solid rgb(170, 170, 170);
}

.filter-result-btn {
    border: 1px solid black;
    border-radius: 5px;

    padding: 5px;
    transition: all 0.5s infinite;
}

.filter-result-btn:hover {
    background: linear-gradient(rgb(0, 0, 255), rgb(136, 136, 241));
    color: white;
}

.event-type-container {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 7rem;
    margin-top: 1rem;
    background: #000000;
    box-shadow: 0 0 10px gray inset;
}

.wrapper {
    width: 100%;
    height: 50%;
}

.carousel {
    width: 100%;
    height: 50%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 30px;
}

.carousel .card {
    color: #fff;
    background: #000;
    text-align: center;
    margin: auto;
    line-height: 250px;
    font-size: 90px;
    font-weight: 600;
    border-radius: 10px 50px 10px 50px;
    border: none;
    padding: 1px 1px 1px 10px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgb(83, 83, 83) inset;
}

.card a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgb(184, 184, 184) inset;
}
.card h6 {
    position: relative;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
}

.card-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 65px;
}
